@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

.select {
	height: 36px;
	border-radius: 10px 0 0 10px;
	box-shadow: 0 1px 6px 0 rgb(32 33 36/ 28%);
}

.search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 1px solid #000000;
	border-left: none;
	border-right: none;
	padding: 5px;
	height: 24px;
	outline: none;
	color: #9DBFAF;
	box-shadow: 0 1px 6px 0 rgb(32 33 36/ 28%);
}

.searchTerm:focus {
	color: #000000;
}

.searchButton {
	height: 36px;
	border: 0px solid #000000;
	background: #000000;
	border-radius: 0 10px 10px 0;
	text-align: center;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	box-shadow: 0 1px 6px 0 rgb(32 33 36/ 28%);
	text-align: center;
}

.loginbutton {
	width: 40px;
	background: #000000;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}